[user]
	name = Ryan Cavicchioni
	email = ryan@cavi.cc
	signingkey = ~/.ssh/id_ed25519.pub
[color]
	ui = true
[push]
	default = simple
[commit]
    gpgsign = true
[pull]
	ff = only
[gpg]
	format = ssh
[merge]
    conflictstyle = zdiff3
[log]
    showSignature = true
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
