[user]
	name = Ryan Cavicchioni
	email = ryan@cavi.cc
[color]
	ui = true
[push]
	default = simple
[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
